@import "colors";
@import "media-query";

.container {
  .nav__container {
    background-color: $purple;

    .navbar {
      position: relative;
      z-index: 10;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem calc((100vw - 1200px) / 2);

      max-width: 90vw;
      margin-inline: auto;
      &__logo {
        color: $orange;
        text-decoration: none;
        cursor: pointer;
        font-size: 2rem;
        margin-block: 24px;
        & img {
          width: 50px;
          aspect-ratio: 1;
        }
      }
      &__bars {
        display: none;

        @include tablet {
          color: $light;
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: 1.3rem;
        }
      }

      &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet {
          display: none;
        }

        &--links {
          color: $light;
          margin-right: 30px;
          text-decoration: none;
          transition: transform 150ms ease-in;
          padding-block: 5px;
          padding-inline: 1rem;
          border-radius: 5px;
          -webkit-font-smoothing: antialiased;
          font-size: 16px;
          text-transform: uppercase;
          transition: colos 0.4 ease;
          vertical-align: baseline;
          &:hover {
            text-decoration: underline;
            transform: scale(1.1);
            text-decoration-color: $orange;
            text-underline-offset: 100%;
          }
        }

        #btn {
          padding: 12px 24px;
          border: none;
          font-weight: 400;
          letter-spacing: 1.5px;
          transform: unset;
          outline: none;
          text-decoration: initial;
          margin: none;
          background-color: $blue;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
