@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500&display=swap");
.container .nav__container {
  background-color: #5a0aae;
}

.container .nav__container .navbar {
  position: relative;
  z-index: 10;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  max-width: 90vw;
  margin-inline: auto;
}

.container .nav__container .navbar__logo {
  color: #f14b1f;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  margin-block: 24px;
}

.container .nav__container .navbar__logo img {
  width: 50px;
  aspect-ratio: 1;
}

.container .nav__container .navbar__bars {
  display: none;
}

@media screen and (max-width: 768px) {
  .container .nav__container .navbar__bars {
    color: #f7f7f7;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.3rem;
  }
}

.container .nav__container .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .container .nav__container .navbar__menu {
    display: none;
  }
}

.container .nav__container .navbar__menu--links {
  color: #f7f7f7;
  margin-right: 30px;
  text-decoration: none;
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
  padding-block: 5px;
  padding-inline: 1rem;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: colos 0.4 ease;
  transition: colos 0.4 ease;
  vertical-align: baseline;
}

.container .nav__container .navbar__menu--links:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-text-decoration-color: #f14b1f;
          text-decoration-color: #f14b1f;
  text-underline-offset: 100%;
}

.container .nav__container .navbar__menu #btn {
  padding: 12px 24px;
  border: none;
  font-weight: 400;
  letter-spacing: 1.5px;
  -webkit-transform: unset;
          transform: unset;
  outline: none;
  text-decoration: initial;
  margin: none;
  background-color: #4361ee;
}

.container .nav__container .navbar__menu #btn:hover {
  opacity: 0.9;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spline Sans", sans-serif;
}

.hero {
  background-color: #f7f7f7;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  margin: 0 auto;
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 90vw;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 420px) {
  .hero__container--left {
    line-height: 1.5;
    text-align: center;
  }
}

.hero__container--left h1 {
  font-size: 4rem;
  color: #f14b1f;
  -webkit-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

@media screen and (max-width: 420px) {
  .hero__container--left h1 {
    font-size: 2rem;
  }
}

.hero__container--left h2 {
  font-size: 4rem;
  color: #4361ee;
  -webkit-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

@media screen and (max-width: 420px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}

.hero__container--left p {
  font-size: 1.5rem;
  color: #410882;
  margin-top: 1rem;
  font-weight: 200;
  -webkit-transition: font-size 500ms ease;
  transition: font-size 500ms ease;
}

@media screen and (max-width: 420px) {
  .hero__container--left p {
    font-size: 1rem;
  }
}

.hero__container--btn {
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.2;
  outline: none;
  margin-top: 2rem;
  position: relative;
  z-index: 10;
  border: 1px solid #4361ee;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.hero__container--btn > a {
  color: #4361ee;
  text-decoration: none;
}

.hero__container--btn:hover, .hero__container--btn:focus {
  outline: 0.5px solid #4361ee;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hero__container--right {
  -webkit-perspective: 400px;
          perspective: 400px;
  position: relative;
  text-align: center;
}

.hero__container--right img {
  -webkit-transform: rotateY(-20deg) translateZ(10px);
          transform: rotateY(-20deg) translateZ(10px);
  margin-top: -100px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero__container--right img {
    -webkit-transform: unset;
            transform: unset;
  }
}
/*# sourceMappingURL=styles.css.map */